<!DOCTYPE html>
<html>
    <head>
        <title>Record training menu</title>
        <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css">
    </head>
    <body class="bg-gray-100">
        <div class="p-6 max-w-md mx-auto bg-white rounded-xl shadow-md flex items-center space-x-4">
        <div>
            <h1 class="text-3xl font-medium text-gray-900">Record training menu</h1>
            <form class="mt-4" action="/record" method="post">
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="date">
                    Date:
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="date" name="date" type="date" placeholder="Date">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="menu">
                    Menu:
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="menu" name="menu" type="text" placeholder="Menu">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="set">
                    Set:
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="set" name="set" type="number" placeholder="Set">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="rep">
                    Rep:
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="rep" name="rep" type="number" placeholder="Rep">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="weight">
                    Weight:
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="weight" name="weight" type="number" placeholder="Weight">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="memo">
                    Memo:
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="memo" name="memo" type="text" placeholder="Memo">
                </div>
                <div class="flex items-center justify-between">
                    <input class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" value="Submit">
                </div>
            </form><br>
            <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="/">Go back to home</a>
        </div>
        </div>
    </body>
</html>