<!DOCTYPE html>
<html>
  <head>
    <title>Training list</title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css">
  </head>
  <body>
    <div class="container mx-auto mt-8">
      <h1 class="text-3xl mb-4">Training list</h1>
      <table class="table-auto border w-full">
        <thead>
          <tr>
            <th class="border px-4 py-2">Date</th>
            <th class="border px-4 py-2">Menu</th>
            <th class="border px-4 py-2">Set</th>
            <th class="border px-4 py-2">Rep</th>
            <th class="border px-4 py-2">Weight</th>
            <th class="border px-4 py-2">Memo</th>
          </tr>
        </thead>
        <tbody>
          {% for record in data %}
          <tr>
            <td class="border px-4 py-2">{{ record[0] }}</td>
            <td class="border px-4 py-2">{{ record[1] }}</td>
            <td class="border px-4 py-2">{{ record[2] }}</td>
            <td class="border px-4 py-2">{{ record[3] }}</td>
            <td class="border px-4 py-2">{{ record[4] }}</td>
            <td class="border px-4 py-2">{{ record[5] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br>
      <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="/">Go back to home</a>
    </div>
  </body>
</html>
